* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: sans-serif;
  }
  
  .LandingPage-body {
    width: 100%;
    min-height: 100vh;
    background: url('https://i.pinimg.com/originals/f3/2f/f9/f32ff9f0333576e0f921dc66fcea934f.gif') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
  }
  
  .LandingPage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: white;
    animation: LandingPage-header 2s ease-in-out;
  }
  
  @keyframes LandingPage-header {
    0% {
        transform: translateY(-100%);
    }
  }
  
  .LandingPage-nav li {
    display: inline-block;
    margin: 10px 20px;
    font-weight: 600;
  }
  
  /* Main content styles */
  .main {
    width: 100%;
    display: flex;
  }
  
  .LandingPage-content {
    width: 50%;
    margin-top: 8%;
    margin-left: 5%;
    color: white;
    overflow: hidden;
    animation: LandingPage-content 2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  @keyframes LandingPage-content {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
  }
  
  .LandingPage-content h1 {
    font-size: 80px;
    margin-bottom: 1%;
    letter-spacing: 8px;
    font-family: 'Courier New', Courier, monospace;
    text-align: end;
  }
  
  .LandingPage-content h3 {
    font-size: 15px;
    margin-bottom: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  
  .LandingPage-span {
    color: rgb(236, 46, 46);
  }
  
  .LandingPage-content p {
    font-size: 20px;
    margin-bottom: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
  }
  
  .LandingPage-button {
    padding: 15px 30px;
    background: transparent;
    color: white;
    font-size: 17px;
    border-radius: 0; /* Remove border-radius */
    background: none; /* Remove background */
    border: none; /* Remove border */
    cursor: pointer; /* Keep cursor style */
    outline: none; /* Remove outline when clicked */
  }
  
  
  .LandingPage-button:hover {
    background: rgb(243, 74, 74);
  }
  
  .icon-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .icon-container .icon-image {
    max-width: 100px;
    height: auto;
    margin: 40px;
  }